body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(80, 76, 142);
}

.container-background{
    background-color: rgb(184, 213, 205);
    width: 70%;
    margin: 0% 15% ;
    /* color: white; */
}
.container{
    display: flex;
    /* align-content: flex-start; */
    /* justify-content: center; */
    flex-direction: column;
    margin: 0% 5%;
    
    font-size: 20px;
    height: 80vh;
    overflow: scroll;

        
}

.message{
    
    background-color: rgb(197, 189, 189);
    width: max-content;
    padding: 5px 100px 0px 25px;
    line-height: 0.5;
}

.message-right {

    background-color: rgba(98, 154, 53, 0.841);
    width: max-content;
    padding: 5px 100px 0px 25px;
    line-height: 0.5;
    margin-left: auto;
}

.name{
    color:rgba(0, 0, 255, 0.649);
}

h1{
    display:flex;
    justify-content: center;
    background-color: rgb(0, 55, 0);
    width: 70%;
    margin: 0% 0% 0% 15%;
    padding: 35px 0px;
    color: white;

}

.chat-box{
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px;
    width: 400px;
    height: 0px;
}

.chat{
    display: flex;
    justify-content: center;
    /* background-color: gray; */
}

.send-button{
   
    /* border-radius: 40%; */
    /* border-width: 0.1px; */
    /* padding: 5px; */
    /* background-color: lightskyblue; */
    width: 51.2px;
    height: 44.0px;
    border: none;
    background-image: url("./images/send.png");
    background-color: transparent;
    background-position: button;
    background-repeat: no-repeat;
    background-size: contain;
    /* width:100px; */
    padding: 20px;
  
    
    
}

ul{
    list-style-type: none;
}

.chat-msgs{
    background-color: gray;
}